.container {
  width: 100%;
  position: relative;

  .top {
    align-items: center;
    padding-top: mobile-vw(16px);
    padding-bottom: mobile-vw(24px);

    @include desktop {
      padding-top: desktop-vw-capped(16px);
      padding-bottom: desktop-vw-capped(8px);
    }

    @include wide-short-viewport {
      padding-top: 12px;
      padding-bottom: 6px;
    }

    .eggs {
      grid-column: span 2;

      @include desktop {
        grid-column: span 1;
      }

      .egg {
        display: inline-block;
        aspect-ratio: 1;
        width: mobile-vw(24px);
        height: mobile-vw(24px);
        line-height: 0;

        @include desktop {
          width: desktop-vw(24px);
          height: desktop-vw(24px);

          @media (min-width: 2560px) {
            width: desktop-vw-capped(22px);
            height: desktop-vw-capped(22px);
          }
        }

        .logo {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .cta {
      grid-column: 3/-1;
      text-align: end;
      margin-left: auto;

      @include desktop {
        grid-column: 8/-1;

        @media (min-width: 2560px) {
          padding: desktop-vw-capped(4px) desktop-vw-capped(8px);
          border-radius: desktop-vw-capped(8px);
        }
      }
    }
  }

  .marquee {
    grid-column: 5/8;
    color: var(--grey);
    text-transform: uppercase;

    .principle {
      font-weight: 700;

      @include desktop {
        transition: filter 300ms ease-in-out;
        filter: blur(1.5px);

      }

      @include hover {
        &:hover {
          filter: blur(0);
        }
      }

      .separator {
        margin: 0 mobile-vw(16px);
        @include desktop {
          margin: 0 desktop-vw(16px);

          @media (min-width: 2560px) {
            margin: 0 desktop-vw-capped(12px);
          }
        }
      }
    }

    @include mobile {
      margin: mobile-vw(24px) 0;
    }
  }

  .header {
    width: 100%;

    .title {
      grid-column: 1/-1;
      margin: mobile-vw(10px) 0;
      width: 100%;
      overflow: hidden;

      @include desktop {
        margin: 12px 0 8px;
      }

      @include wide-short-viewport {
        margin: 8px 0 4px;
      }
    }
  }
}
