.hi {
  flex: 1 1 0;
  min-height: 0;
  position: relative;
  overflow-y: auto;
  scrollbar-width: none !important;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  > div {
    @include desktop {
      padding-bottom: desktop-vh(18px);
    }
  }
}
